#imgMngWrapper {
	thead {
		color: black;
	}
	tr {
		td.filmIndex {
			color:black;
			text-align: left;
		}
		td.filmTitle {
			color: black;
			text-align: left;
		}
		td.filmImage {
			text-align: left;
		}
	}
	input {
		background-color: #eee;
		border: none;
	}
	.defaultToggler {
		position: relative;
	}
}
