@font-face {
  font-family: 'VistaSansOT-Black';
  src: url('../fonts/3110F9_0_0.eot'); /* IE9 Compat Modes */
  src: url('../fonts/3110F9_0_0.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/3110F9_0_0.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/3110F9_0_0.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/3110F9_0_0.ttf')  format('truetype'); /* Safari, Android, iOS */
}

body,html{
	font-family: "VistaSansOT-Black", Arial, sans-serif;
	text-align: center;
	text-transform: uppercase;
	color: #ffffff;
  -webkit-user-select: none; 
}

::-webkit-scrollbar {
    display: none;
}


.title{
	width: 464px;
	height: 193px;
	position: absolute;
	top: 67px;
	left: 58px;
}

.logo{
	width: 285px;
	height: 218px;
	position: absolute;
	top: 39px;
	right: 64px;
}

.counter{
	width: 392px;
	height: 150px;
	position: absolute;
	bottom: 0;
	left: 770px;
	background: url('../../images/counter.png') center center no-repeat;
	padding-top: 32px;
	// padding-left: 75px;

	#p1{
		background: url('../../images/counter_p1.png') center center no-repeat;
	}

	#p2{
		background: url('../../images/counter_p2.png') center center no-repeat;
	}

	#p3{
		background: url('../../images/counter_p3.png') center center no-repeat;
	}
	.row{
		padding: 0px 72px;
	}

	.score{
		font-size: 80px;
		color: #004185;
		// float: left;
		// margin-right: 30px;
		&.paused {
			color: #FAB533;
		}
	}

	.active{
		color: #FAB533;
	}
}
