.imageCol {
	max-height: 450px;
	.imageWrapper {
		max-width: 100%;
		max-height: 100%;
		max-height: 300px;
	}
}

.input-group{
	margin-bottom: 20px;
}

.playerscore{
	font-size: 50px;
	background: #004185;
	padding: 20px;
	border-radius: 10px;
	width: 100px;
	margin: 0 auto;
	color: #;
}

.playerscore {
	&.active {
		background: #FAB533;
	}
}

.playerscore .leader{
	color: #FAB533;
}

.response{
	margin-top: 5px;
	font-size: 16px;
}
