

#backendWrapper {
	background-image: url('../../images/bg_blue.png');
	background-attachment: fixed;
	position: absolute;
	overflow-y: scroll;
	width: 1920px;
	height: 1080px;
	.navbar {
		margin: 0px;
	}
	.container, .row{
	    padding: 50px 0;
	}

	h1{
	    color: #fff;
	    font-size: 40px;
	    margin: 20px 0;
	}

	h1 small{
	    color: rgba(255, 255, 255, 0.32);
	    font-size: 20px;
	}
}
