#gameWrapper {
	position: absolute;
	width: 1920px;
	height: 1080px;
	&.bg-blue {
		background-image: url('../../images/bg_blue.png');
	}
	&.bg-red {
		background-image: url('../../images/bg_red.png');
	}
	div.spacer {
		border-bottom: none !important;
	}
	#filmwrapper {
		display: block;
		margin-top: 200px;
	}
	.film {
		height: 555px;
	}
	.filmoticon {
		position: relative;
		top: 360px;
		transform: translateY(-50%);
	}
	.filmtitle {
		height: 150px;
		top: 745px;
		text-align: center;
		padding: 0 40px;
		position: relative;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		.centerBox {
			text-align: center;
			font-size: 6em;
			.char {
				background: url('../../images/underscore.png') bottom left no-repeat;
				float: left;
				min-width: 90px;
				min-height: 120px;
				text-align: center;
				margin: 2px;
				span {
					display: inline;
					color: #ffffff;
					margin-left: -5px;
					margin-bottom: 20px;
					text-align: center;
					opacity: 0;

					&.showChar {
						opacity: 1;
						transition: .8s ease-in-out;
					}
				}

				&.spacer {
					background-image: none;
				}
			}
		}
	}





}
