

<div id="winnerWrapper" ui-sref="end">

	<div class="title"><img src="images/title.png"></div>
	<div class="logo"><img src="images/logo.png"></div>

	<div class="congrats">
    	<img src="images/Gratulation.png" width="100%">
    </div>
	<div class="winnerText">
		<div class="pre">Gratulation</div>
		<div class="winner">Spieler <span ng-bind="winner.winner"></span></div>
	</div>



	<div class="counter" ng-class=" 'background_' + winner.winner " id="">
	    <div class="row">
			<div class="score col-md-4" id="score_player1" ng-class="(winner.winner == 1) ? 'highlight' : '' "   ng-bind="winner.points.p1"></div>
		    <div class="score col-md-4" id="score_player2" ng-class="(winner.winner == 2) ? 'highlight' : '' " ng-bind="winner.points.p2"></div>
		    <div class="score col-md-4" id="score_player3" ng-class="(winner.winner == 3) ? 'highlight' : '' " ng-bind="winner.points.p3"></div>
	    </div>
    </div>

</div>
