#winnerWrapper {
	background-image: url('../../images/bg_blue.png');
	width: 1920px;
	height: 1080px;
	.congrats {
		display: block;
		padding-top: 100px;
		width: 600px;
		text-transform: uppercase;
		font-size: 100px;
		color: #ffffff;
		left: 50%;
		position: relative;
		margin-left: -300px;
	}
	.winnerText {
		width: 100%;
		text-align: center;
		margin-top: -50px;
		font-size: 7em;
		.winner {
			margin-top: -40px;
			color: #FAB533;
		}
	}
	.counter {
		&.background_1 {
			background-image: url('../../images/counter_p1.png');
		}
		&.background_2 {
			background-image: url('../../images/counter_p2.png');
		}
		&.background_3 {
			background-image: url('../../images/counter_p3.png');
		}
	}
}
