#answerWrapper {
	background-image: url('../../images/bg_blue.png');
	height: 1920px;
	.congrats{
		display: block;
		padding-top: 100px;
		text-transform: uppercase;
		font-size: 100px;
		color: #ffffff;
	}
}
